.container-login{
  width: 100%;
  max-width: 400px;
  height: 80vh;
  margin: auto;
  background: none repeat scroll 0 0 #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login input {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  height: 44px;
  padding: 0 15px;
  color: #fff;
  margin: 0 0 10px;
  line-height: 10px;
}
.container-login input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}


.container-login  button {
  width: 100%;
  margin: 5px 0 0;
  height: 44px;
  background: #228180;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  transition: background 0.2s;
}

.container-login  button:hover {
  opacity: 0.7;
}

